header {
	.header_inner {
		width: 100%;
		position: relative;
		top: 0;
		right: 0;
		left: 0;
		z-index: 9999;
		display: block;
		margin: 0;
		width: 100%;
		min-width: 1024px;
		height: 48px;
		max-height: 44px;
		font-size: 17px;
		background: rgba(0, 0, 0, 0.8);
		display: flex;
		justify-content: center;

		@include header_inner {
			min-width: 320px;
		}

		@include header {
			display: none;
		}
	}

	.gnb {
		display: flex;
		margin: 0 auto;
		max-width: 980px;
		padding: 0 22px;
		position: relative;
		z-index: 2;
		padding-left: 22px;
		padding-right: 22px;
	}

	.nav_logo {
		box-sizing: border-box;
		display: inline-block;
		position: relative;
		height: 44px;
		z-index: 1;
		vertical-align: top;
		background-image: url(./../images/nav_logo_large.svg);
		background-size: 14px 44px;
		background-repeat: no-repeat;
		background-position: center center;
		width: 14px;
	}

	.nav_list {
		display: flex;
	}

	.util {
		.search {
			background-size: 15px 88px;
			background-repeat: no-repeat;
			background-image: url(./../images/search.svg);
			background-position: 8px 0;
			width: 15px;
		}

		.bag {
			background-size: 13px 44px;
			background-repeat: no-repeat;
			background-image: url(./../images/bag.svg);
			background-position: center center;
			width: 13px;
		}

		a {
			font-size: 12px;
			line-height: 3.66667;
			font-weight: 400;
			letter-spacing: -0.01em;
			color: #f5f5f7;
			position: relative;
			z-index: 1;
			display: inline-block;
			padding: 0 8px;
			height: 44px;
			opacity: 0.8;
			background: no-repeat;
			text-decoration: none;
			white-space: nowrap;
			-webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
			transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			outline-offset: -7px;
		}
	}

	.header_m {
		position: absolute;
		width: 100%;
		display: none;
		justify-content: space-between;
		align-items: center;

		@include tablet {
			min-width: 320px;
		}

		@include header {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			z-index: 9999;
			display: block;
			margin: 0;
			width: 100%;
			height: 48px;
			background: rgba(0, 0, 0, 0.92);
			font-size: 17px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.header_m_logo {
			width: 48px;
			height: 48px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		.user {
			position: absolute;
			right: 0;
		}
	}

	.nav_logo {
		display: block;
		margin: 0 15px;
	}

	.nav_item {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;
		position: relative;
		height: 44px;
		line-height: 44px;
		vertical-align: top;
		margin: 0 15px;

		@include tablet {
			margin: 0 8px;
		}

		a {
			font-size: 12px;
			font-weight: 400;
			line-height: 3.66667;
			letter-spacing: -0.01em;
			color: #f5f5f7;
			position: relative;
			display: inline-block;
			padding: 0 8px;
			height: 44px;
			opacity: 0.8;
			transition: 0.3s;

			&:hover {
				opacity: 1;
			}
		}
	}

	.user {
		height: 44px;
	}

	.link_search {
		background-image: url(./../images/search.svg);
		background-size: 15px 88px;
		background-repeat: no-repeat;
		width: 15px;
		height: 44px;
		display: inline-block;
		margin: 0 15px;
	}

	.link_bag {
		background-image: url(./../images/bag.svg);
		background-size: 13px 44px;
		background-repeat: no-repeat;
		width: 13px;
		height: 44px;
		display: inline-block;
		margin: 0 15px;

		@include header {
			background-size: 13px 44px;
			background-position: center center;
			width: 15px;
		}
	}

	@include header {
		height: 48px;
	}
}

.sticky_banner {
	position: sticky;
	width: 100%;
	height: 66px;
	min-width: 1024px;
	top: 0;
	left: 0;
	z-index: 100;
	border-bottom: 1px solid rgba(255, 255, 255, 0.24);

	@include header_inner {
		min-width: 320px;
	}

	@include header {
		height: 63px;
	}

	@include tablet {
		min-width: 320px;
	}
}

.sticky-head {
	position: sticky;
	width: 100%;
	min-width: 1024px;
	top: 0;
	left: 0;
	z-index: 100;
	backdrop-filter: saturate(180%) blur(20px);

	@include tablet {
		min-width: 320px;
	}
}

.navi {
	opacity: 0;
	display: none;
	top: -100%;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 999;
	transition: 0.7s;

	.search_wrap {
		display: block;
		position: absolute;
		z-index: 4;
		top: 48px;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0 10px 0 10px;
		height: 3.11765em;

		&:after {
			content: '';
			display: block;
			height: 1px;
			background: #424245;
			position: absolute;
			z-index: 2;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	.search_box {
		background-color: #1d1d1f;
		height: 36px;
		padding-left: 38px;
		position: relative;
		max-width: 584px;
		margin: 0 auto;
		border-radius: 8px;
		box-sizing: border-box;

		.search_icon {
			background-image: url(./../images/m_search.svg);
			background-size: 14px 14px;
			background-repeat: no-repeat;
			left: 0;
			top: 0;
			position: absolute;
			width: 30px;
			height: 36px;
			background-position: left 8px center;
			opacity: 0.8;
		}

		span {
			font-size: 17px;
			line-height: 36px;
			font-weight: 400;
			color: #626273;
		}
	}

	ul {
		display: block;
		position: absolute;
		z-index: 1;
		top: 3.52941em;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: 664px;
		margin: 0 auto;
		padding: 45px 40px 8px;
		height: auto;
		box-sizing: border-box;
	}

	li {
		width: 100%;
		height: 44px;
		font-size: 18px;
		line-height: 44px;
		border-bottom: 1px solid #424245;
		box-sizing: border-box;
		color: #f5f5f7;
	}
}

.navi_active {
	top: 0;
	display: block;
	opacity: 1;
}

.menu-trigger-wrap {
	position: relative;
}

.menu-trigger,
.menu-trigger span {
	display: inline-block;
	transition: all 0.4s;
	box-sizing: border-box;
}

.menu-trigger {
	position: absolute;
	z-index: 3;
	top: 9px;
	left: 9px;
	width: 30px;
	height: 30px;
}

.menu-trigger span {
	display: block;
	width: 17px;
	height: 1px;
	background: #fff;
	border-radius: 0.5px;
	position: absolute;
	left: 7px;
	z-index: 1;
}

.banner_bg_active1 {
	background-color: rgba(29, 29, 31, 0.72);
}

.banner_bg_active2 {
	background-color: rgba(255, 255, 255, 0.72);
}

.banner_bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	// backdrop-filter: saturate(180%) blur(20px);
	background-color: rgba(29, 29, 31, 0.72);
}

.banner_wrap {
	margin: 0 auto;
	max-width: 980px;
	height: 52px;
	padding: 0 22px;
	position: relative;
	z-index: 2;

	@include header {
		height: 48px;
	}

	&::after {
		clear: both;
		content: '';
		display: block;
	}
}

.banner_title {
	font-size: 21px;
	line-height: 1.14286;
	font-weight: 600;
	letter-spacing: 0.011em;
	color: #fff;
	height: 66px;
	float: left;
	margin: 14px 0 -14px;
	padding: 0;
	white-space: nowrap;

	@include header {
		height: 63px;
	}

	a {
		display: flex;
		flex-direction: column-reverse;
		letter-spacing: inherit;
		line-height: inherit;
		margin: 0;
		text-decoration: none;
		white-space: nowrap;
	}

	span {
		opacity: 0.88;
		opacity: 0.61;
		font-size: 14px;
		font-weight: 400;
	}
}

.banner_util {
	float: right;
	padding-top: 34px;

	span {
		font-size: 12px;
		color: #fff;
		opacity: 0.56;
		margin-right: 24px;
		float: left;
	}

	.banner_link {
		font-size: 12px;
		color: #fff;
		opacity: 0.92;
		margin-right: 24px;
		float: left;
	}

	.button {
		margin: 0;
		float: left;
		margin-top: -4px;
	}

	@include header {
		display: none;
	}

	&::after {
		content: '';
		clear: both;
		display: block;
	}
}

.m_banner_util {
	display: none;

	@include header {
		display: block;
		overflow: hidden;
		position: absolute;
		right: 0;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 32px;
	}

	.m_banner_util_btn_box {
		margin-top: 18px;
		cursor: pointer;
		display: inline-block;
		width: 20px;
		height: 15px;
		float: left;

		@include header {
			margin-top: 0;
		}

		.m_banner_util_btn {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 1;
			transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
				transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
			transform: translateY(0);
			opacity: 0.8;

			.m_banner_util_btn1 {
				content: '';
				display: block;
				position: absolute;
				top: 13px;
				width: 11px;
				height: 1px;
				z-index: 1;
				transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
					transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
				right: 50%;
				border-radius: 0.5px 0 0 0.5px;
				transform-origin: 100% 100%;
				transform: rotate(40deg) scaleY(1.1);
				background: #fff;
			}

			.m_banner_util_btn2 {
				content: '';
				display: block;
				position: absolute;
				top: 13px;
				width: 11px;
				height: 1px;
				z-index: 1;
				transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
					transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
				left: 50%;
				border-radius: 0 0.5px 0.5px 0;
				transform-origin: 0% 100%;
				transform: rotate(-40deg) scaleY(1.1);
				background: #fff;
			}
		}
	}

	.banner_util_buy {
		margin-left: 17px;

		@include header {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.m_banner_util_inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	min-height: 100%;
	z-index: 1;
	display: none;
	overflow: hidden;
	visibility: hidden;
	padding-top: 0;
}

.banner_util_active {
	display: block;
	visibility: visible;
	position: absolute;
	width: 100%;
	height: 161px;
	top: 64px;
	right: 0;
	bottom: 0;
	background-color: rgba(29, 29, 31, 0.9);

	ul {
		padding: 4px 24px 24px;
	}

	li {
		display: inline-block;
		width: 100%;
		height: 44px;
		font-size: 14px;
		color: #fff;
		border-top: 1px solid rgba(255, 255, 255, 0.24);
	}

	span {
		display: flex;
		align-items: center;
		height: 100%;
	}

	a {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.overview {
		opacity: 0.56;
		border: none;
	}

	.util_bot {
		opacity: 0.92;
	}

	.m_banner_util_btn_box::before {
		transform-origin: 100% 0%;
		transform: rotate(-40deg) scaleY(1.1);
	}

	.m_banner_util_btn_box::after {
		transform-origin: 100% 0%;
		transform: rotate(40deg) scaleY(1.1);
	}
}

.menu-trigger span:nth-of-type(1) {
	top: 9px;
}

.menu-trigger span:nth-of-type(2) {
	bottom: 9px;
}

.menu-trigger.active-1 span:nth-of-type(1) {
	-webkit-transform: translateY (0px) rotate (-45deg);
	transform: translateY(0px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: 20px;
}

.pdr_banner {
	font-size: 14px;
	padding: 16px 0px;
	text-align: center;
	background-color: rgba(29, 29, 31, 0.72);

	.link_shop {
		color: rgb(41, 151, 255);
	}
}
